.Paginate {
    :global {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .selected {
            // background-color: #fe5f1e;
            color: var(--color-primary-orange);

        }
        li {
            display: inline-flex;
                color: var(--color-primary-orange);
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;
                a {
                    color: var(--color-primary-orange);
                    font-size: 36px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    justify-content: center;

                    &:hover {
                        background-color: var(--color-primary-purple);
                        border: 1px var(--color-primary-orange);
                    } 
                }
        }
    }
}