.aboutPage {
    background-color: var(--color-white);
    border-radius: 90px;
    margin: 0 45px; //220px
    padding: 42px 47px;
    *{
        background-color: #fff;
    }

    .title {
        h2 {
            font-size: 76px; //50
            font-weight: 400;
            color: var(--color-primary-orange);
            text-align: center;
            margin-bottom: 15px;

            @media(max-width: 1750px) {
                font-size: 64px;
            }

            @media(max-width: 1500px) {
                font-size: 50px;
            }
        }
        h3 {
            font-size: 50px; //36
            font-weight: 400;
            color: var(--color-primary-orange);
            text-align: center;
            margin-bottom: 70px;

            @media(max-width: 1750px) {
                font-size: 42px;
            }

            @media(max-width: 1500px) {
                font-size: 36px;
            }
        }
        .titleSvg {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 270px;
        }
    }
    .aboutGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;

        img {
            width: 95%;
            height: 90%;
            background: #c4c4c4;
            border-radius: 90px;
        }
        h3 {
            font-size: 76px; //50
            font-weight: 400;
            color: var(--color-primary-orange);
            text-align: center;
            letter-spacing: 0.1em;

            @media(max-width: 1750px) {
                font-size: 64px;
            }

            @media(max-width: 1500px) {
                font-size: 50px;
            }
        }
        p {
            font-size: 50px; //50
            font-weight: 400;
            color: var(--color-primary-orange);
            display: -webkit-box;
            word-break: keep-all; //перенос строки
            text-decoration: underline;
            text-underline-offset: 8px;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
            padding-bottom: 15px;

            @media(max-width: 1750px) {
                font-size: 42px;
            }

            @media(max-width: 1500px) {
                font-size: 36px;
            }
        }
    }
    .directions {
        h2 {
            font-size: 76px; //50
            font-weight: 400;
            color: var(--color-primary-orange);
            text-align: center;

            @media(max-width: 1750px) {
                font-size: 64px;
            }

            @media(max-width: 1500px) {
                font-size: 50px;
            }
        }
        p {
            color: var(--color-primary-orange);
            margin-bottom: 50px; //36
            font-size: 50px; //36
            font-weight: 400;
            text-align: justify;
            letter-spacing: 0.1em;

            @media(max-width: 1750px) {
                font-size: 42px;
            }

            @media(max-width: 1500px) {
                font-size: 36px;
            }
        }
    }
    .aboutMap {
        h2 {
            font-size: 76px; //50
            font-weight: 400;
            color: var(--color-primary-orange);
            text-align: center;

            @media(max-width: 1500px) {
                font-size: 50px;
            }
        }
        .map {
            width: 100%;
            height: 870px; //670

            @media(max-width: 1750px) {
                height: 770px;
            } 

            @media(max-width: 1500px) {
                height: 670px;
            } 

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 50px;
            }
        }
    }
}