.PageHall {
    background-color: var(--color-white);
    border-radius: 90px;
    margin: 0 45px; //220px
    padding: 30px 47px;
    *{
        background-color: #fff;
    }

    .title {
        h2 {
            color: var(--color-primary-orange);
            font-weight: 400;
            font-size: 50px;
            text-align: center;
            letter-spacing: 0.1em;
        }
        h3 {
            color: var(--color-primary-orange);
            font-size: 36px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 30px;
            letter-spacing: 0.1em;
        }
        .titleSvg {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 270px;
        }
    }
}