.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  .container {
    margin: 0 auto;
    padding: 0 100px;

    @media(max-width: 600px) {
        padding: 0 50px;
    }

    .logoLink {
        width: 697px;
        &:hover {
            transform: scale(1.02);
        }

        @media(max-width: 1750px) {
            width: 597px;
        }

        @media(max-width: 1500px) {
            width: 497px;
        }

        @media(max-width: 1250px) {
            width: 337px;
        }

        @media(max-width: 900px) {
            width: 230px;
        }
    }
    
    // Десктопная навигация
    .desktopNav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: var(--spacing-md) 0;
        align-items: center;
    }

    .dropdownItem {
        display: block;
        width: 100%;
        text-align: left;
        background: var(--color-white);
        padding: var(--spacing-md) var(--spacing-lg);
        color: var(--color-gray-800);
        font-size: var(--font-size-sm);
        transition: all var(--transition-fast);
        text-decoration: none;
        border: none;
        cursor: pointer;
        
        &:hover {
            background: var(--color-gray-100);
            color: var(--color-primary-orange);
            padding-left: calc(var(--spacing-lg) + 4px);
        }
        
        &.active {
            background: var(--color-gray-100);
            color: var(--color-primary-orange);
            font-weight: 500;
        }
        }

        .mobileMenuItem {
        display: block;
        width: 100%;
        text-align: center;
        padding: var(--spacing-md) 0;
        color: var(--color-white);
        font-size: var(--font-size-lg);
        transition: all var(--transition-fast);
        background: none;
        border: none;
        cursor: pointer;
        
        &:hover, &.active {
            color: var(--color-primary-orange);
            transform: translateX(10px);
        }
    }

    .navButton {
        background: transparent;
        border: none;
        color: var(--color-white);
        font-size: 30px;
        font-weight: 400;
        padding: var(--spacing-sm) var(--spacing-md);
        cursor: pointer;
        transition: all var(--transition-fast);
        position: relative;

        @media(max-width: 1500px) {
            font-size: 20px;
        }

        @media(max-width: 1000px) {
            font-size: 16px;
        }
            
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            transform: translateY(-1px);
            border-radius: 50px;
        }
            
        &.active {
            color: var(--color-primary-orange);
                
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                height: 2px;
                background: var(--color-primary-orange);
                border-radius: var(--radius-full);
            }
        }
    }
    
    // Выпадающее меню "Ещё"
    .moreDropdown {
        position: relative;

        .moreButton {
            display: flex;
            align-items: center;
            gap: var(--spacing-xs);
            
            &.open {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 20px;
            }
        }

        .dropdownMenu {
            position: absolute;
            top: calc(100% + var(--spacing-sm));
            right: 0;
            width: 440px; //240
            background: var(--color-white);
            border-radius: var(--radius-lg);
            box-shadow: var(--shadow-lg);
            overflow: hidden;
            animation: slideDown 0.2s ease;

            @media(max-width:1750px) {
                width: 390px;
            }

            @media(max-width:1750px) {
                width: 300px;
            }

            @media(max-width: 900px) {
                width: 200px;
            }
        }
    
        .dropdownItem {
            display: block;
            background-color: var(--color-white);
            padding: var(--spacing-md) var(--spacing-lg);
            color: var(--color-gray-800);
            font-size: 40px; //
            transition: all var(--transition-fast);
            text-decoration: none;

            @media(max-width:1750px) {
                font-size: 32px;
            }

            @media(max-width:1750px) {
                font-size: 24px;
            }

            @media(max-width:900px) {
                font-size: 16px;
                padding: 10px 20px;
            }
            
            &:hover {
                background: var(--color-gray-100);
                color: var(--color-primary-orange);
                padding-left: calc(var(--spacing-lg) + 4px);
            }
            
            &.active {
                background: var(--color-gray-100);
                color: var(--color-primary-orange);
                font-weight: 500;
            }
        }
    }

    // Бургер-меню
    .mobileNav {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;

        @media(max-width: 550px) {
            margin-top: 15px;
        }

        .logoIcon {
            width: 200px;

            @media(max-width: 650px) {
                width: 160px;
            }
        }
        .burgerButton {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 20px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
        }
        
        .burgerLine {
            width: 100%;
            height: 2px;
            background: var(--color-white);
            transition: all var(--transition-fast);
            
            &:first-child.open {
            transform: translateY(9px) rotate(45deg);
            }
            
            &:nth-child(2).open {
            opacity: 0;
            }
            
            &:last-child.open {
            transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
    
    // Мобильное меню
    .mobileMenu {
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-primary-purple);
        padding: var(--spacing-xl);
        animation: slideIn 0.3s ease;
        text-align: center;

        @media(max-width: 650px) {
            top: 70px;
        }

        .mobileMenuItem {
            display: block;
            padding: var(--spacing-md) 0;
            color: var(--color-white);
            font-size: var(--font-size-lg);
            text-align: center;
            transition: all var(--transition-fast);
            
            &:hover, &.active {
                color: var(--color-primary-orange);
                transform: translateX(10px);
            }
        }

        .mobileSocialIcons {
            display: flex;
            justify-content: center;
            gap: var(--spacing-xl);
            margin-top: var(--spacing-2xl);
            padding-top: var(--spacing-xl);
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            
            a {
                color: var(--color-white);
                text-decoration: none;
                font-size: var(--font-size-sm);
            
                &:hover {
                    color: var(--color-primary-orange);
                }
            }
        }
    }
  }
}

// Анимации
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}