.mainTop {
    margin-top: 230px;

    @media(max-width: 1750px) {
        margin-top: 180px;
    }

    @media(max-width: 1500px) {
        margin-top: 160px;
    }

    @media(max-width: 1250px) {
        margin-top: 110px;
    }
}

.mainTopOpacity {
    opacity: 50%;
    position: fixed;
}

.feedback {
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    height: 100vh;
    background-color: transparent;
    align-items: center;
}