.mainTop {
    margin-top: 230px;

    @media(max-width: 1750px) {
        margin-top: 180px;
    }

    @media(max-width: 1500px) {
        margin-top: 160px;
    }

    @media(max-width: 1250px) {
        margin-top: 110px;
    }
}